.img{
	position: relative;
	background-image: url("../img/img1.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	height: 700px;
}

.li{
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#jumbotronwimg{
	background-image: url("../img/img7.jpg");

}

#secondimg{
	background-image: url("../img/img5.jpg");
	border-style: solid;
	border-radius: 2px;
	height: 200px;
}

#thirdimg{
	background-image: url("../img/img3.jpg");
	height: 200px;
}

.sectionTwo{


}

.height-fix{
	height: 200px;
}

.bg-color{
    font-family:  American Typewriter, serif;
    color: #d4d9d6;
    background-color: #383d3a;
}

.footer-bg{
    font-family:  American Typewriter, serif;
    color: #d4d9d6;
    background-color: #2d302e;
}


